html{
	font-family:Roboto, HelveticaNeue, Arial;

}
.wrapper {
	display:grid;
	grid-template-columns:300px 737px 300px;
	grid-template-rows:50px 80px 300px 150px 140px 150px 140px 215px 125px 125px 140px 140px 130px 130px 140px 145px 340px 50px 80px;
	grid-row-gap:5px;
}
#logo{
	grid-column-start:2;
	grid-column-end:3;
	grid-row-start:1;
	grid-row-end:2;
	justify-self:center;
}
#ggl {
	height:30px;
	width:90px;
}
#searchspot{
	grid-row-start:2;
	grid-row-end:3;
	grid-column-start:2;
	grid-column-end:3;
	justify-self:start;
}
#brbtn {
	display:grid;
	grid-template-columns:699px 60px;
}
#srchbr{
	grid-column-start:1;
	grid-column-end:2;
	width:695px;
	border-radius:10px 0px 0px 0px;
	padding:10px 15px;
	border:1px solid #dbdbdb;
	font-size:16px;
	border-shadow:;
	box-shadow:0 1px 6px rgba(32, 33, 36, 0.28);
}
#go{
	grid-column-start:2;
	grid-column-end:3;
	width:38px;
	height:40px;
	border-radius:0px 10px 0px 0px;
	background-color:#4a8bf6;
	border:1px solid #3367d6;
	background-image: url("http://t1.gstatic.com/images?q=tbn:ANd9GcSWrqcdILQwnNEFel6dQoOJhOETVFAZMxAlOLMXo-DA30zNtxiUbkUfYi5M");
	background-repeat:no-repeat;
	background-position:center;
	background-size:35px 35px;
	box-shadow:0 1px 6px rgba(32, 33, 36, 0.28);
}
#btntabs {
	display:grid;
	width:735px;
	grid-template-columns:60x 60px 70px 70px 70px 70px 70px 70px;
	border-bottom:1px solid #dbdbdb;
	border-left: 1px solid #dbdbdb;
	border-right:1px solid #dbdbdb;
	border-radius: 0px 0px 10px 10px;
	font-size:12px;
	line-height:37px;
	box-shadow:0 1px 6px rgba(32, 33, 36, 0.28);
}
.btns {
	color:#757575;
	border-style:none;
	padding:0 16px;
	height:38px;

}
.btns:hover{
	text-decoration:underline;
}
#al{
	grid-column-start:1;
	grid-colum-end:2;
}
#nws{
	grid-column-start:2;
	grid-colum-end:3;
}
#mps{
	grid-column-start:3;
	grid-colum-end:4;
}
#vdos{
	grid-column-start:4;
	grid-colum-end:5;
}
#imgs{
	grid-column-start:5;
	grid-colum-end:6;
}
#shppg{
	grid-column-start:6;
	grid-colum-end:7;
}
#bks{
	grid-column-start:7;
	grid-colum-end:8;
}
#st{
	border-left:1px solid #dbdbdb;
	grid-column-start:8;
	grid-colum-end:9;
}
.line{
	border-top:1px solid #dbdbdb;
	border-bottom:0px;
}
.padder{
	padding-left:16px;
	padding-right:16px;
	padding-top:12px;
	padding-bottom:12px;
	font-size:14px;
	line-height:18px;
}
#one{
	grid-column-start:2;
	grid-column-end:3;
	grid-row-start:3;
	grid-row-end:4;
	background-color:white;
	border:1px solid #dbdbdb;
	border-radius:5px;
	box-shadow:0 1px 6px rgba(32, 33, 36, 0.28);
}
.hotlinks{
	font-size:16px;
}
#two{
	grid-column-start:2;
	grid-column-end:3;
	grid-row-start:4;
	grid-row-end:5;
	background-color:white;
	border:1px solid #dbdbdb;
	border-radius:5px;
	box-shadow:0 1px 6px rgba(32, 33, 36, 0.28);
}
#three{
	grid-column-start:2;
	grid-column-end:3;
	grid-row-start:5;
	grid-row-end:6;
	background-color:white;
	border:1px solid #dbdbdb;
	border-radius:5px;
	box-shadow:0 1px 6px rgba(32, 33, 36, 0.28);
}
#four{
	grid-column-start:2;
	grid-column-end:3;
	grid-row-start:6;
	grid-row-end:7;
	background-color:white;
	border:1px solid #dbdbdb;
	border-radius:5px;
	box-shadow:0 1px 6px rgba(32, 33, 36, 0.28);
}
#five{
	grid-column-start:2;
	grid-column-end:3;
	grid-row-start:7;
	grid-row-end:8;
	background-color:white;
	border:1px solid #dbdbdb;
	border-radius:5px;
	box-shadow:0 1px 6px rgba(32, 33, 36, 0.28);
}
#six{
	grid-column-start:2;
	grid-column-end:3;
	grid-row-start:8;
	grid-row-end:9;
	background-color:white;
	border:1px solid #dbdbdb;
	border-radius:5px;
	box-shadow:0 1px 6px rgba(32, 33, 36, 0.28);
}
.rotate{
	font-size:16px;
	font-stretch:ultra-expanded;
	color:grey;
	float:right;
}
#seven{
	grid-column-start:2;
	grid-column-end:3;
	grid-row-start:9;
	grid-row-end:10;
	background-color:white;
	border:1px solid #dbdbdb;
	border-radius:5px;
	box-shadow:0 1px 6px rgba(32, 33, 36, 0.28);
}
#eight{
	grid-column-start:2;
	grid-column-end:3;
	grid-row-start:10;
	grid-row-end:11;
	background-color:white;
	border:1px solid #dbdbdb;
	border-radius:5px;
	box-shadow:0 1px 6px rgba(32, 33, 36, 0.28);
}
#nine{
	grid-column-start:2;
	grid-column-end:3;
	grid-row-start:11;
	grid-row-end:12;
	background-color:white;
	border:1px solid #dbdbdb;
	border-radius:5px;
	box-shadow:0 1px 6px rgba(32, 33, 36, 0.28);
}
#ten{
	grid-column-start:2;
	grid-column-end:3;
	grid-row-start:12;
	grid-row-end:13;
	background-color:white;
	border:1px solid #dbdbdb;
	border-radius:5px;
	box-shadow:0 1px 6px rgba(32, 33, 36, 0.28);
}
#eleven{
	grid-column-start:2;
	grid-column-end:3;
	grid-row-start:13;
	grid-row-end:14;
	background-color:white;
	border:1px solid #dbdbdb;
	border-radius:5px;
	box-shadow:0 1px 6px rgba(32, 33, 36, 0.28);
}
#twelve{
	grid-column-start:2;
	grid-column-end:3;
	grid-row-start:14;
	grid-row-end:15;
	background-color:white;
	border:1px solid #dbdbdb;
	border-radius:5px;
	box-shadow:0 1px 6px rgba(32, 33, 36, 0.28);
}
#thirteen{
	grid-column-start:2;
	grid-column-end:3;
	grid-row-start:15;
	grid-row-end:16;
	background-color:white;
	border:1px solid #dbdbdb;
	border-radius:5px;
	box-shadow:0 1px 6px rgba(32, 33, 36, 0.28);
}
#fourteen{
	grid-column-start:2;
	grid-column-end:3;
	grid-row-start:16;
	grid-row-end:17;
	background-color:white;
	border:1px solid #dbdbdb;
	border-radius:5px;
	box-shadow:0 1px 6px rgba(32, 33, 36, 0.28);
}
.longline{
	width:104%; 
	position:relative; 
	left:-15px;
	border-top:1px solid #dbdbdb;
	border-bottom:0px;
}
#upfont{
	font-size:16px;
}
.right{
	font-size:16px;
	font-stretch:ultra-expanded;
	color:grey;
	float:right;
}
#seventeen{
	grid-column-start:2;
	grid-column-end:3;
	grid-row-start:17;
	grid-row-end:18;
	background-color:white;
	border:1px solid #dbdbdb;
	border-radius:5px;
	box-shadow:0 1px 6px rgba(32, 33, 36, 0.28);
}
.contn{
	display:grid;
	grid-template-columns:330px 55px 300px ;
}
#nxt{
	color:grey;
	justify-self:center;
	grid-column-start:2;
	grid-column-end:3;
}
#eighteen{
	grid-column-start:2;
	grid-column-end:3;
	grid-row-start:18;
	grid-row-end:19;
	background-color:white;
	border:1px solid #dbdbdb;
	border-radius:5px;
	box-shadow:0 1px 6px rgba(32, 33, 36, 0.28);
}
#nineteen{
	grid-column-start:2;
	grid-column-end:3;
	grid-row-start:19;
	grid-row-end:20;
	background-color:white;
	border:none;
	border-radius:5px;
	color:gray;
	text-align:center;
	font-size:14px;
}





